{{ ansible_managed | comment }}
# /etc/geo2drop/geo2drop.conf

COUNTRIES="{{ geo2drop_countries | join(' ') }}"
WHITELIST="{{ geo2drop_whitelist | join(' ') }}"

SET_NAME="{{ geo2drop_set_name }}"
TABLE_FAMILY="{{ geo2drop_nft_family }}"

SOURCE_MODE="{{ geo2drop_source }}"

IPDENY_URL="{{ geo2drop_ipdeny_url }}"
IPDENY_URL6="{{ geo2drop_ipdeny_url6 }}"
GITHUB_ARCHIVE_URL="{{ geo2drop_github_archive_url }}"
ARCHIVE_FALLBACK_GITHUB="{{ 'true' if geo2drop_archive_fallback_github else 'false' }}"
DOWNLOAD_TIMEOUT="{{ geo2drop_download_timeout }}"

STATE_DIR="{{ geo2drop_state_dir }}"
ZONES_DIR="{{ geo2drop_zones_dir }}"
ARCHIVE_DIR="{{ geo2drop_archive_dir }}"
