{{ ansible_managed | comment(decoration='# ') }}
[Unit]
Description=geo2drop: refresh nftables set of country IP ranges
Documentation=https://github.com/besmirzanaj/ansible-role-geo2drop
After=network-online.target nftables.service
Wants=network-online.target
Requires=nftables.service

[Service]
Type=oneshot
ExecStart={{ geo2drop_bin_path }}
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
PrivateTmp=true
